<!-- Incluir o head -->
<%- include('./partials/head') %>
<body>

  <h1 class="alert alert-primary">
    <span class="material-icons">campaign</span>
    Formulario de cadastro de avisos
  </h1>

  <!-- incluir os scripts do bootstrap -->
  <%- include('./partials/scripts_import') %>
</body>
</html>
